body {padding:20px;}
	#search-form, .form-control {margin-bottom:20px;}
	.cover {width:60px; height:60px; display:inline-block; background-size:cover; }
	.cover:hover {cursor:pointer; }
	.cover.playing {border:5px solid red; }